<div class="datos__container">
    <div class="dato">
        <h1>Bienvenido <%= datos %>!</h1>
    </div>
    <div class="dato">
        <a class="dato__desloguer" href="http://localhost:8080/olvidar/<%=datos%>">Log out</a>
    </div>
</div>
